# Series

In [1]:
#importing pandas as pd
import pandas as pd

In [3]:
#checking version of pandas
pd.__version__

'1.0.1'

In [4]:
#creating a list
list1 = [2,3,-5, 6.9, 'data values']
print(list1)

[2, 3, -5, 6.9, 'data values']

In [5]:
#creating series using pandas
sr1 = pd.Series(list1)
#note: 'S' of series should be capital
print(sr1)

0              2
1              3
2             -5
3            6.9
4    data values
dtype: object

In [6]:
#finding type of series
type(sr1)

pandas.core.series.Series

In [8]:
#creating series by comprehension
sr2 = pd.Series([1,2,3,4])
print(sr2)

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
#creating empty Series
sr_empty = pd.Series([])
print(sr_empty)

Series([], dtype: float64)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

In [12]:
#giving index to Series
sr3 = pd.Series([1,2,3,4], index = ['a','b','c','d']) #index can be str, int or float
print(sr3)

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
#changing datatype to float
sr3 = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype = float) #index can be str, int or float
print(sr3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [14]:
#giving name to a Series
sr3 = pd.Series([1,2,3,4], index = ['a','b','c','d'], dtype = float, name = "numeric series")
print(sr3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: numeric series, dtype: float64

In [15]:
#list using scalar values(single value)
sr_scalar = pd.Series(0.12)
print(sr_scalar)

0    0.12
dtype: float64

In [16]:
#list using scalar values(single value)
sr1_scalar = pd.Series(0.12, index = [1,2,3])
print(sr1_scalar)

1    0.12
2    0.12
3    0.12
dtype: float64

In [17]:
#Series using dictionary
sr_dict = pd.Series({'a':3, 'b':6})
print(sr_dict)

a    3
b    6
dtype: int64

In [26]:
#creating list
sr4 = pd.Series([1,2,9,7,2,4,3,2,1,6])
print(sr4)

0    1
1    2
2    9
3    7
4    2
5    4
6    3
7    2
8    1
9    6
dtype: int64

In [27]:
#accessing element of series
sr4[1]

2

In [29]:
#accessing element of series
sr4[5]

4

In [30]:
#SLICING of series
sr4[3:8] #series 1 is sliced from 3 to 7

3    7
4    2
5    4
6    3
7    2
dtype: int64

In [31]:
#finding max value
max(sr4)

9

In [34]:
#finding min value
min(sr4)

1

In [36]:
#finding value by a specified mark
sr4[sr4>4] #all values greater than 4 are given

2    9
3    7
9    6
dtype: int64

# Mathematic Operations

In [37]:
#taking two series for operation
#two series of different length are considered, to observe panda feature: handaling missing data for which here it gives NaN
sr5 = pd.Series([1,2,9,7,2,4,3,2,1,6])
print(sr5)
sr6 = pd.Series([1,2,3,4,5,6])
print(sr6)

0    1
1    2
2    9
3    7
4    2
5    4
6    3
7    2
8    1
9    6
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [38]:
#adding two series
sr5 + sr6
#NaN means not a series

0     2.0
1     4.0
2    12.0
3    11.0
4     7.0
5    10.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [39]:
#subtracting two series
sr5 - sr6

0    0.0
1    0.0
2    6.0
3    3.0
4   -3.0
5   -2.0
6    NaN
7    NaN
8    NaN
9    NaN
dtype: float64

In [40]:
#multiplying two series
sr5 * sr6

0     1.0
1     4.0
2    27.0
3    28.0
4    10.0
5    24.0
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [41]:
#dividing two series
sr5 / sr6

0    1.000000
1    1.000000
2    3.000000
3    1.750000
4    0.400000
5    0.666667
6         NaN
7         NaN
8         NaN
9         NaN
dtype: float64

In [ ]:
#we can perform almost all operation from numpy