# interpolate() function

In [1]:
#this is used to guess the missing values
#guess is only made for the numeric values

import pandas as pd

In [2]:
df = pd.read_csv('D:\\Sample data\\pokemon.csv')
df

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1.0,0.7,6.9,64,NaN,poison,45.0,49.0,49.0,NaN,65.0,65.0
1,Yes,2,NaN,1.0,NaN,13.0,142,NaN,NaN,NaN,62.0,63.0,NaN,NaN,NaN
2,Yes,3,NaN,NaN,2.0,NaN,236,grass,NaN,NaN,NaN,83.0,80.0,NaN,100.0
3,Yes,4,charmander,NaN,NaN,8.5,62,fire,NaN,39.0,NaN,NaN,65.0,NaN,50.0
4,Yes,5,charmeleon,NaN,NaN,19.0,142,fire,NaN,58.0,64.0,NaN,80.0,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7.0,0.6,1.8,189,poison,NaN,67.0,73.0,67.0,73.0,73.0,67.0
803,Yes,804,naganadel,7.0,3.6,150.0,243,poison,dragon,73.0,73.0,73.0,121.0,127.0,73.0
804,Yes,805,stakataka,7.0,5.5,820.0,257,rock,steel,61.0,131.0,211.0,13.0,53.0,101.0
805,Yes,806,blacephalon,7.0,1.8,13.0,257,fire,ghost,53.0,127.0,53.0,107.0,151.0,79.0
806,Yes,807,zeraora,7.0,1.5,44.5,270,electric,NaN,88.0,112.0,75.0,143.0,102.0,80.0

In [3]:
df.interpolate() #possible missing pattern value are intepolated
#by deafult method here is linear i.e. df.interpolate and df.interpolate(method = linear) will give same output

#Try it yourself: make changes in values in csv and see what pattern values can be interpolated
#Strings can't be interpolated

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1.0,0.70,6.90,64,NaN,poison,45.0,49.000000,49.000000,NaN,65.00,65.0
1,Yes,2,NaN,1.0,1.35,13.00,142,NaN,NaN,43.0,62.000000,63.000000,NaN,68.75,82.5
2,Yes,3,NaN,1.0,2.00,10.75,236,grass,NaN,41.0,62.666667,83.000000,80.0,72.50,100.0
3,Yes,4,charmander,1.0,1.90,8.50,62,fire,NaN,39.0,63.333333,81.333333,65.0,76.25,50.0
4,Yes,5,charmeleon,1.0,1.80,19.00,142,fire,NaN,58.0,64.000000,79.666667,80.0,80.00,67.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7.0,0.60,1.80,189,poison,NaN,67.0,73.000000,67.000000,73.0,73.00,67.0
803,Yes,804,naganadel,7.0,3.60,150.00,243,poison,dragon,73.0,73.000000,73.000000,121.0,127.00,73.0
804,Yes,805,stakataka,7.0,5.50,820.00,257,rock,steel,61.0,131.000000,211.000000,13.0,53.00,101.0
805,Yes,806,blacephalon,7.0,1.80,13.00,257,fire,ghost,53.0,127.000000,53.000000,107.0,151.00,79.0
806,Yes,807,zeraora,7.0,1.50,44.50,270,electric,NaN,88.0,112.000000,75.000000,143.0,102.00,80.0