# Missing Values

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('D:\\Sample data\\pokemon.csv')
df1

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,Yes,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,Yes,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143,102,80

# na_values()

In [6]:
#in type_2 column we can find values with NaN(Not a Number), that is no values are available there
#NaN can be of any data type

#We can also add different values as NaN
df2 = pd.read_csv('D:\\Sample data\\pokemon.csv', na_values = 'Yes')
df2

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,NaN,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45,65,65
1,NaN,2,ivysaur,1,1.0,13.0,142,grass,poison,60,62,63,60,80,80
2,NaN,3,venusaur,1,2.0,100.0,236,grass,poison,80,82,83,80,100,100
3,NaN,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65,60,50
4,NaN,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,NaN,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73,73,67
803,NaN,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121,127,73
804,NaN,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13,53,101
805,NaN,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107,151,79
806,NaN,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143,102,80

In [10]:
#We can also add different values as NaN, for more than one we have to use the list
df3 = pd.read_csv('D:\\Sample data\\pokemon.csv', na_values = ['Yes', 'grass', 'fire', 'poison'])
df3

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,NaN,1,bulbasaur,1,0.7,6.9,64,NaN,NaN,45,49,49,45,65,65
1,NaN,2,ivysaur,1,1.0,13.0,142,NaN,NaN,60,62,63,60,80,80
2,NaN,3,venusaur,1,2.0,100.0,236,NaN,NaN,80,82,83,80,100,100
3,NaN,4,charmander,1,0.6,8.5,62,NaN,NaN,39,52,43,65,60,50
4,NaN,5,charmeleon,1,1.1,19.0,142,NaN,NaN,58,64,58,80,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,NaN,803,poipole,7,0.6,1.8,189,NaN,NaN,67,73,67,73,73,67
803,NaN,804,naganadel,7,3.6,150.0,243,NaN,dragon,73,73,73,121,127,73
804,NaN,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13,53,101
805,NaN,806,blacephalon,7,1.8,13.0,257,NaN,ghost,53,127,53,107,151,79
806,NaN,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143,102,80

# keep_default_na()

In [11]:
#These strings are considered as deafult NaN values:
#   n/a, #N/A, #NA, -nan, -NaN, N/A, NULL, null

#now if we want that it dosen't consider these values as default, update the upper values in the csv and try it yourself.

#df = pd.read_csv('D:\\Sample data\\pokemon.csv', keep_default_na = False)

# na_filter()

In [ ]:
#If we have large files and we are sure that missing values are not there, then na_filter can be used to boost performance of data parsing.
#Data parsing is syntax analysis, i.e. process of analyzing a string of symbols.

#If we have millions of data, pandas actually check for each cell to find NaN and if we are sure that their are no null values then we can use na_filter to boost the performance of the system.

#df3 = pd.read_csv('D:\\Sample data\\pokemon.csv', na_filter = False)