# fillna() Parameters

In [1]:
#fills the NaN values with given values or input

import pandas as pd

In [5]:
df = pd.read_csv('D:\\Sample data\\pokemon.csv')
df

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,NaN,1,1.0,13.0,142,NaN,NaN,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# value

In [6]:
df.fillna(0) #NaN is replaced with zero, like this we can use any scalar values

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,0,poison,45,49,49,45.0,65,65
1,Yes,2,0,1,1.0,13.0,142,0,0,60,62,63,60.0,80,80
2,Yes,3,0,1,2.0,100.0,236,grass,0,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,0,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,0,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,0,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,0,88,112,75,143.0,102,80

In [7]:
df.fillna({'species':'UNknown', 'type_1':'INFINITY'}) #changing every column NaN values with different inputs, given with the help of a dictionary

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,INFINITY,poison,45,49,49,45.0,65,65
1,Yes,2,UNknown,1,1.0,13.0,142,INFINITY,NaN,60,62,63,60.0,80,80
2,Yes,3,UNknown,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# method

In [8]:
df.fillna(method = 'ffill') #Fill NaN with the previous values            ffill stands for forward fill
#instead of ffill we can also use 'pad'

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,bulbasaur,1,1.0,13.0,142,NaN,poison,60,62,63,60.0,80,80
2,Yes,3,bulbasaur,1,2.0,100.0,236,grass,poison,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,poison,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,poison,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,ghost,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,ghost,88,112,75,143.0,102,80

In [9]:
df.fillna(method = 'bfill') #Fill NaN with the later values            ffill stands for backward fill

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,grass,poison,45,49,49,45.0,65,65
1,Yes,2,charmander,1,1.0,13.0,142,grass,flying,60,62,63,60.0,80,80
2,Yes,3,charmander,1,2.0,100.0,236,grass,flying,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,flying,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,flying,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,dragon,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

# axis

In [10]:
# 0 stands for row or index and 1 stands column
# value or method needs to be specified with axis talked earlier here
df.fillna(method = 'ffill', axis = 1) #if axis not given by deafult axis is 0

#try bfill yourself

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,64,poison,45,49,49,45,65,65
1,Yes,2,2,1,1,13,142,142,142,60,62,63,60,80,80
2,Yes,3,3,1,2,100,236,grass,grass,80,82,83,80,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,fire,39,52,43,65,60,50
4,Yes,5,charmeleon,1,1.1,19,142,fire,fire,58,64,58,80,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,poison,67,73,67,73,73,67
803,Yes,804,naganadel,7,3.6,150,243,poison,dragon,73,73,73,121,127,73
804,Yes,805,stakataka,7,5.5,820,257,rock,steel,61,131,211,13,53,101
805,Yes,806,blacephalon,7,1.8,13,257,fire,ghost,53,127,53,107,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,electric,88,112,75,143,102,80

# limit

In [11]:
#input is given to NaN values to decided rows or cloumn.
#like axis, limit also needs to be used with value or method
df.fillna(0, limit = 3) #value zero is apllied to row limit at 3

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,0,poison,45,49,49,45.0,65,65
1,Yes,2,0,1,1.0,13.0,142,0,0,60,62,63,60.0,80,80
2,Yes,3,0,1,2.0,100.0,236,grass,0,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,0,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,NaN,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,NaN,88,112,75,143.0,102,80

In [16]:
df.fillna(method = 'pad', limit = 1 ) #forward fill(or pad) is apllied to row limit at 1

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,NaN,poison,45,49,49,45.0,65,65
1,Yes,2,bulbasaur,1,1.0,13.0,142,NaN,poison,60,62,63,60.0,80,80
2,Yes,3,NaN,1,2.0,100.0,236,grass,NaN,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,NaN,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,NaN,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,ghost,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,ghost,88,112,75,143.0,102,80

# inplace

In [18]:
#it does not create a new data frame but modify the orginal data frame
#need to be used with value or method
#values to this are given in boolean
df.fillna(3, inplace = True) #all NaN values are given modified with 3
df

,Pokemon,id,species,generation_id,height,weight,base_experience,type_1,type_2,hp,attack,defense,speed,special-attack,special-defense
0,Yes,1,bulbasaur,1,0.7,6.9,64,3,poison,45,49,49,45.0,65,65
1,Yes,2,3,1,1.0,13.0,142,3,3,60,62,63,60.0,80,80
2,Yes,3,3,1,2.0,100.0,236,grass,3,80,82,83,80.0,100,100
3,Yes,4,charmander,1,0.6,8.5,62,fire,3,39,52,43,65.0,60,50
4,Yes,5,charmeleon,1,1.1,19.0,142,fire,3,58,64,58,80.0,80,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
802,Yes,803,poipole,7,0.6,1.8,189,poison,3,67,73,67,73.0,73,67
803,Yes,804,naganadel,7,3.6,150.0,243,poison,dragon,73,73,73,121.0,127,73
804,Yes,805,stakataka,7,5.5,820.0,257,rock,steel,61,131,211,13.0,53,101
805,Yes,806,blacephalon,7,1.8,13.0,257,fire,ghost,53,127,53,107.0,151,79
806,Yes,807,zeraora,7,1.5,44.5,270,electric,3,88,112,75,143.0,102,80

In [ ]:
#Note: All the parameters discussed above have the deafult value as 'None'